@import "tailwindcss";

@theme inline {
  --font-playfair: var(--font-playfair);
  --font-poppins: var(--font-poppins);
}

body {
  background: #FFF8DC;
  font-family: var(--font-poppins), 'Poppins', sans-serif;
}
